<!-- Material form register -->

<div style="height: 100vh">
  <div class="flex-center flex-column">
<mdb-card>

<mdb-card-header class="cyan darken-3 white-text text-center py-4">
    <h3>
        <strong>Smart Blog</strong>
      </h3>
      <h5>Sign up</h5>
</mdb-card-header>

<!--Card content-->
<mdb-card-body class="px-lg-5 pt-0">

  <!-- Form -->
      <form class="text-center" style="color: #757575;" [formGroup]="signUpForm">

    <div class="form-row">
      <div class="col">
        <!-- First name -->
        <div class="md-form">
          <input type="text" formControlName="fname" id="fname" class="form-control" mdbInputDirective>
          <label for="materialRegisterFormFirstName">First name</label>
          <span *ngIf="isValid('fname')">First name is required</span>
        </div>
      </div>
      <div class="col">
        <!-- Last name -->
        <div class="md-form">
          <input type="text" formControlName="lname" id="lname" class="form-control" mdbInputDirective>
          <label for="materialRegisterFormLastName">Last name</label>
          <span *ngIf="isValid('lname')">Last name is required</span>
        </div>
      </div>
    </div>

    <!-- E-mail -->
    <div class="md-form mt-0">
      <input type="email" formControlName="email" id="email" class="form-control" mdbInputDirective>
      <label for="materialRegisterFormEmail">E-mail</label>
      <span *ngIf="isValid('email')">Entered email is invalid</span>
    </div>

    <!-- Password -->
    <div class="md-form">
      <input type="password" formControlName="password" id="password" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock"
        mdbInputDirective>
      <label for="materialRegisterFormPassword">Password</label>
      <!-- <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        At least 8 characters and 1 digit
      </small> -->
      <span *ngIf="isValid('password')">Password is a mandatory field</span>
    </div>

    <div class="md-form">
      <input type="password" formControlName="cnfpass" id="cnfpass" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock"
        mdbInputDirective>
      <label for="materialRegisterFormPassword">Confirm password</label>
      <!-- <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        At least 8 characters and 1 digit
      </small> -->
      <span *ngIf="isValid('cnfpass')">Password and confirm password should match</span>
    </div>

    <!-- Sign up button -->
    <button mdbBtn color="default" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
    (click)="signup()" >Sign up</button>

    <!-- Social register -->
    <p>or sign up with:</p>

    <a type="button" class="teal-text mx-2">
      <mdb-icon icon="facebook"></mdb-icon>
    </a>
    <a type="button" class="teal-text mx-2">
      <mdb-icon icon="twitter"></mdb-icon>
    </a>
    <a type="button" class="teal-text mx-2">
      <mdb-icon icon="linkedin"></mdb-icon>
    </a>
    <a type="button" class="teal-text mx-2">
      <mdb-icon icon="github"></mdb-icon>
    </a>

    <hr>

    <!-- Terms of service -->
    <p>By clicking
      <em>Sign up</em> you agree to our
      <a href="" target="_blank">terms of service</a> and
      <a href="" target="_blank">terms of service</a>. </p>

  </form>
  <!-- Form -->

</mdb-card-body>

</mdb-card>
</div>
</div>
<!-- Material form register -->