<app-top-nav></app-top-nav>

<div class="container">

  <div class="row">
    <div class="col-md-6 mx-auto">
        <form class="form-inline md-form form-sm active-cyan active-cyan-2">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search" mdbInputDirective>
            <!-- <button mdbBtn size="sm" color="default" outline="true" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit">Search</button> -->

          </form>
    </div>
  </div>
      <div class="row category "><div class="col-12"><ul class="nav justify-content-center cyan darken-3 py-4">
          <li class="nav-item">
              <a class="nav-link active" href="#!">All</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#!">Arts</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#!">Biography</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#!">Science</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#!">Geography</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#!">Mathematics</a>
          </li>
      </ul></div></div>
<!--Section: Blog v.1-->
<section class="py-4 text-center text-lg-left">

    
    <!--Section description-->
    <p class="text-center mb-5 pb-3">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-5 col-xl-5 pb-3">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
                <img src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg" alt="Sample image for first version of blog listing"
                    class="img-fluid">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-xl-7">
            <!--Excerpt-->
            <a href="" class="green-text">
                <h6 class="font-weight-bold pb-1">
                    <i class="fa fa-cutlery"></i> Food</h6>
            </a>
            <h3 class="mb-4 font-weight-bold dark-grey-text">
                <strong>This is title of the news</strong>
            </h3>
            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis
                debitis aut rerum.</p>
            <p>by
                <a>
                    <strong>Carine Fox</strong>
                </a>, 19/08/2018</p>
            <a routerLink="/article/2" mdbBtn color="success" class="mb-3 waves-light" routerLink="/article/1" mdbWavesEffect>Read more</a>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr class="mb-5 mt-5 pb-3">

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-7 col-xl-7 pb-3">
            <!--Excerpt-->
            <a href="" class="pink-text">
                <h6 class="font-weight-bold pb-1">
                    <i class="fa fa-image"></i> Lifestyle</h6>
            </a>
            <h3 class="mb-4 font-weight-bold dark-grey-text">
                <strong>This is title of the news</strong>
            </h3>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                provident et dolorum fuga.</p>
            <p>by
                <a>
                    <strong>Carine Fox</strong>
                </a>, 14/08/2018</p>
            <a mdbBtn color="pink" class="mb-3 waves-light" mdbWavesEffect>Read more</a>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-5 col-xl-5 mb-5">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
                <img src="https://mdbootstrap.com/img/Photos/Others/img%20(34).jpg" alt="Second image in the first version of blog listing"
                    class="img-fluid">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr class="mb-5 mt-4 pb-3">

    <!--Grid row-->
    <div class="row pb-5">

        <!--Grid column-->
        <div class="col-lg-5 col-xl-5 pb-3">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
                <img src="https://mdbootstrap.com/img/Photos/Others/img (28).jpg" alt="Thrid image in the blog listing." class="img-fluid">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-xl-7">
            <!--Excerpt-->
            <a href="" class="indigo-text">
                <h6 class="font-weight-bold pb-1">
                    <i class="fa fa-suitcase"></i> Travels</h6>
            </a>
            <h3 class="mb-4 font-weight-bold dark-grey-text">
                <strong>This is title of the news</strong>
            </h3>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro qui dolorem ipsum quia sit
                amet, consectetur.</p>
            <p>by
                <a>
                    <strong>Carine Fox</strong>
                </a>, 11/08/2018</p>
            <a mdbBtn color="indigo" class="mb-3 waves-light" mdbWavesEffect>Read more</a>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Blog v.1-->
</div>

<app-footer></app-footer>