.active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.category{ 
    ul{border-radius: 3px;}
    li.nav-item{ 
    margin: 0 10px;
    width: 115px;}
    a{
        text-align: center;
        color:#FFF;
    }
    .active{
        background: #006064;
        border-radius: 3px;
    }
}
   