<!-- Material form login -->
<div style="height: 100vh">
  <div class="flex-center flex-column">
<mdb-card>

<mdb-card-header class="cyan darken-3 white-text text-center py-4">
  <h5>
    <strong>Sign in</strong>
  </h5>
</mdb-card-header>


<!--Card content-->
<mdb-card-body class="px-lg-5 pt-0">

  <!-- Form -->
  <form class="text-center" style="color: #757575;">

    <!-- Email -->
    <div class="md-form">
      <input type="text" id="materialLoginFormEmail" class="form-control" mdbInputDirective #userEmail>
      <label for="materialLoginFormEmail">E-mail</label>
    </div>

    <!-- Password -->
    <div class="md-form">
      <input type="text" id="materialLoginFormPassword" class="form-control" mdbInputDirective #userPassword>
      <label for="materialLoginFormPassword">Password</label>
    </div>

    <div class="d-flex justify-content-around">
      <div>
        <!-- Remember me -->
        <mdb-checkbox>Remember me</mdb-checkbox>
      </div>
      <div>
        <!-- Forgot password -->
        <a href="">Forgot password?</a>
      </div>
    </div>

    <!-- Sign in button -->
    <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
      (click)="checkingCredentials(userEmail, userPassword)" routerLink="/home">Sign in</button>

    <!-- Register -->
    <p>Not a member?
      <a href="">Register</a>
    </p>

    <!-- Social login -->
    <p>or sign in with:</p>
    <a type="button" class="btn-floating btn-fb btn-sm">
      <mdb-icon icon="facebook"></mdb-icon>
    </a>
    <a type="button" class="btn-floating btn-tw btn-sm">
      <mdb-icon icon="twitter"></mdb-icon>
    </a>
    <a type="button" class="btn-floating btn-li btn-sm">
      <mdb-icon icon="linkedin"></mdb-icon>
    </a>
    <a type="button" class="btn-floating btn-git btn-sm">
      <mdb-icon icon="github"></mdb-icon>
    </a>

  </form>
  <!-- Form -->

</mdb-card-body>

</mdb-card>
</div>
</div>
<!-- Material form login -->