<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan darken-3 ie-nav" [containerInside]="false">
  <mdb-navbar-brand>
      <a class="logo navbar-brand" href="/home"><strong>Smart Blog</strong></a>
  </mdb-navbar-brand>
  <links>
     
      <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav" *ngIf="!user">
        <li class="nav-item">
            <button mdbBtn routerLink="/sign-in" type="button" color="white" class="waves-light white-border" outline="true" mdbWavesEffect>Sign In</button>
          </li>
    <li class="nav-item">
        <!-- <button mdbBtn type="button" color="default" class="waves-light bg-white " outline="true" mdbWavesEffect>Sign Up</button> -->
        <button mdbBtn routerLink="/sign-up" type="button" color="default" class="waves-light cyan-border" mdbWavesEffect>Sign Up</button> <!-- <a class="nav-link waves-light" mdbWavesEffect> <span class="clearfix d-none d-sm-inline-block">Sign Up</span></a> -->
    </li>
    </ul>
    <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav" *ngIf="user">
    <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-user"></i> <span class="clearfix d-none d-sm-inline-block">Account</span></a>
    </li>
    <li class="nav-item dropdown btn-group" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            Dropdown
        </a>
        <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>
    </ul>
  </links>
</mdb-navbar>