/* You can add global styles to this file, and also import other style files */
a{
    color:#009688;
}
.btn-rounded {
    -webkit-border-radius: 10em;
    border-radius: 10em;
}
.ql-editor{
    height: 500px;
}
